*
    html, body{
        padding: 0;
        margin: 0;
        font-family: Futura MD BT;
    }
    .kepala{
        background-color:#89CFFD;
    }
    .fotoadmin {
        width: 3.5%;
        height: 3.5%;
        border-color: blue;
        border-radius: 30px;
        margin-left: 25px;
        margin-top: 20px;
    }
    .nama{
        margin-left: 80px;
        margin-top: -40px;
        font-size: 25px;
        font-family: FUTURA MD BT;
    }
    .ol_navbar{
        display: flex;
        justify-content: center;
        background-color: none ;
        list-style-type: none ;
        margin-right: 20px;
    }
    
    .ol_navbar :hover{
        display: flex;
        justify-content: center;
        background-color: none ;
        list-style-type: none;
        color: white;
        transition: all .3s ease-in-out;
    
    }
    
    .li_navbar{
    
        display: flex;
        justify-content: center;
        color: #293462;
        padding: 10px;
    }
    
    .ol_navbar>li>a{
        text-decoration: none;
        color: #293462;
    }
    table, tr, td{
        border: 1px solid #ddd;
        padding: 10px;
    }
    table{
        border-collapse: collapse;
        font-family: FUTURA MD BT;
        width: 75%;
        margin-left: 150px;
        margin-top: 50px;
        
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
    th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        background-color: #89CFFD;
        color: white;
        border: 1px solid #ddd;
    }
    .h7{
        color: #89cffd;
        margin-bottom: 30px;
        margin-top: 90px;
        margin-left: 20px;
    }
    .p7{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -25px;
        margin-left: 20px ;
    }
    .out{
        background-color: #293462;
      border: 0 solid #e2e8f0;
      border-radius: 1.5rem;
      box-sizing: border-box;
      color: #f1f1f1;
      cursor: pointer;
      display: inline-block;
      font-family: Futura MD BT ;
      font-weight: 200;
      font-size: 15px;
      line-height: 0.5;
      text-decoration: none #0d172a solid;
      text-decoration-thickness: auto;
      transition: all .1s cubic-bezier(.4, 0, .2, 1);
      box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100px;
      height: 30px;
      margin-left: 1100px;
    }
    